/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/gymStaff_images/
composer.lock
public/admin_product_images/
public/gymProfile_images/
public/user_images/
public/diet_images/
public/workout_images/
public/gymGallery_files/
public/accessory_images/
public/cloth_images/
public/equipment_images/
public/suppliment_images/
public/gymStaff_asset_images
public/staff_adharcard
public/staff_cancel_cheque
public/staff_other_documents
public/staff_pan_card
public/staff_documents
public/qrcodes
public/gym_documents
public/injury_images
